<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    {{!-- automatically access public directory --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <link rel='icon' href="">  Set up icon --}}
</head>
<body>
    <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>