<% include partials/header %>
<h1>Find a Movie to Enjoy</h1>

<form action="/results" method="GET">
    <input type="text" name="title" placeholder="Movie Titie">
    <button>Search</button>
</form>
<% include partials/footer %>