body {
    padding-top: 70px;
}


.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}



.campGroundDisplay{
    display:flex; 
    flex-wrap:wrap;
}

image {
      width: 100%;
      height: 350px;
      background-size: cover;
      background-position: center;
}

#addform{
    margin: 50px auto;
    width: 30%;
}

#deleteForm {
    display: inline;
}