<!DOCTYPE html>
<html>
<head>
	<title>Alien in the Closet</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Include Semantic UI -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<!-- Include FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<!-- Customized CSS-->
	<link rel="stylesheet" href="/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="fas fa-door-closed"></i>  AlienintheCloset </div>
			<a class="item" href="/">Home</a>
			<a class="item" href="/blogs/new">New Post</a>
		</div>
	</div>
